
body {
	background-color: #3a4a58;
	color: #8c8c8c;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 400;
	padding: 15px;
	margin: 0;
}

.container {
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}

.content {
	background-color: #ffffff;
}
.add {
	padding: 40px;
	padding-top: 5px;
}

.select-sort {
	background-color: #E5E8ED;
	height: 30px;
	padding: 5px;
	font-size: 15px;
	border: none;
	border-radius: 2px;
	margin-right: 10px;
}

.select-sort:hover {
	background-color: #C4CDD6;
	cursor: pointer;
}

.add-link {
	background-color: #567D47;
	text-decoration: none;
	color: white;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 3px;
	margin-left: 5px;
	border-radius: 2px;
	width: 35px;
	height: 35px;
	transition: all 0.3s ease;
}
.add-link:hover {
	background-color: #C11515;
}

.login-button {
	background-color: #B1C5AE;
	border-radius: 2px;
	height: 30px;
	font-size: 20px;
	display: flex;
	align-items: center;
	color: black;
	padding: 5px;
}

.login-button:hover {
	background-color: #C4CDD6;
	cursor: pointer;
}

#status {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 25px;
	font-weight: 600;
	color: #B1C5AE;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #567D47;
	height: 50px;
}
.icon {
	display: inline-block;
	background-image: url(../icons/icon_tablet.png);
	height: 59px;
	width: 70px;
}

.logo {
	color: white; 
	text-align: center;
}

.header {
  display: inline-block;
  vertical-align: baseline;
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 2.5rem;
  font-weight: 400;
}

.header2 {
  color: #996633;
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

.input-add {
	background-color: #B1C5AE;
	display: block;
	padding: 8px;
	font-size: 20px;
	font-weight: 600;
	margin: 10px;
	margin-left: 0;
	margin-bottom: 20px;
	border: none;
	border-radius: 2px;
	width: 95%;
}
.input-edit {
	background-color: #B1C5AE;
	display: block;
	padding: 8px;
	font-size: 12px;
	margin: 10px 0;
	border: none;
	border-radius: 2px;
	width: 95%;
}
.button-add {
	background-color: #567D47;
	color: #fff;
	font-size: 20px;
	padding: 10px;
	border: none;
	border-radius: 3px;
	margin-top: 30px;
}
.button-add:hover {
	background-color: #996633;
}
.button-home {
	float: right;
	background-color: #567D47;
	color: #fff;
	font-size: 20px;
	padding: 10px;
	border: none;
	border-radius: 3px;
	margin-top: 30px;
	margin-right: 2%;
}
.button-home:hover {
	background-color: #e5e8ed;
	color: black;
}

.exit-button {
	background-color: #B1C5AE;
	border-radius: 2px;
	height: 40px;
	font-size: 20px;
	display: flex;
	align-items: center;
	color: black;
	padding: 5px 15px 5px 15px;
	border: none;
}
.exit-button:hover {
	background-color: #C4CDD6;
	cursor: pointer;
}
.button-edit {
	background-color: #B1C5AE;
	display: block;
	padding: 8px 5px;
	font-size: 12px;
	margin: 10px 4px;
	border: none;
	border-radius: 2px;
}
.button-edit:hover {
	background-color: #C4CDD6;
	cursor: pointer;
}
table {
  width: 100%;
  border-spacing: 0;
}

td {
  text-align: center;
  padding: 10px 15px;
}

.text-left {
	text-align: left;
}

th {
  color: #333333;
  font-weight: 400;
  font-size: 0.9rem;
  padding-left: 15px;
  padding-right: 15px;
}

tr:nth-child(odd) {
	background-color: #e5e8ed;
}

tr.header3 {
  background-color: #c4cdd6;
  height: 50px;
}

.pagination {
  padding: 15px;
}

.pagination-small {
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
}

p {
  font-size: 1rem;
  line-height: 1.7;
}

hr {
  width: 60%;
  border: 0.5px solid #ccc;
}

.pagination-icons {
  text-align: center;
  margin-top: 30px;
}

.pagination-container {
	display: inline-block;
}

.pagination-link {
  color: white;
  font-size: 15px;
  font-weight: 600;
  background-color: #c5ced8;
  border-radius: 2px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  transition: all 0.3s ease;
}

.pagination-form input {
	border: none;
}

.pagination-link:hover {
	background-color: #808e9e;
}

.active-page {
	background-color: #aaf;
}

a {
	text-decoration: none;
	transition: all 0.3s ease;
}

.footer-text {
  font-size: 0.9rem;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.footer-link {
  color: #fff;
  text-decoration: none;
}

.footer-link:hover { color: #c5ced8; }

@media (max-width: 430px) {
  .table { overflow-x: auto; }
  table { width: auto; }
}