body {
	padding: 40px;
}
form {
	width: 560px;
	margin-bottom: 10px;
}
input[name="login"] {
	width: 100px;
	height: 20px;
	border: 1px solid #c4c4c4;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 6px;
}
input[name="password"] {
	width: 100px;
	height: 20px;
	border: 1px solid #c4c4c4;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 6px;
}
input[name="name"] {
	width: 60px;
	height: 40px;
	border: 1px solid #c4c4c4;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 6px;
}
input[name="email"] {
	width: 70px;
	height: 40px;
	border: 1px solid #c4c4c4;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
input[name="text"] {
	width: 150px;
	height: 40px;
	border: 1px solid #c4c4c4;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

input[name="add"] {
	width: 80px;
	height: 44px;
	background: #3F6BDE;
	border: none; 
	position: absolute;
	border: 1px solid #c4c4c4;
	border-radius: 5px;
	margin-left: 5px;
}
input[name="save_to"] {
	width: 40px;
	height: 44px;
	background: #aaf;
	border: none; 
	border: 1px solid #c4c4c4;
	border-radius: 5px;
	margin-left: 5px;
}
input[name="exit_to"] {
	width: 40px;
	height: 44px;
	background: #aaf;
	border: none; 
	border: 1px solid #c4c4c4;
	border-radius: 5px;
	margin-left: 5px;
}

ul {
	list-style: none;
	padding-left: 0;
}

li {
	width: 550px;
	height: auto;
	border: 2px solid gray;
	padding-top: 20px;
	list-style: none;
    padding: 5px;
    margin-bottom: 10px;
    background: #fcfcfc;
    border: 1px solid silver;
    border-radius: 5px;	
}

.button {
	display: inline-block;
	width: 10px;
	border: 1px solid #c4c4c4;
	border-radius: 5px;
	background: #3F6BDE;
    float: right;
    text-decoration: none;
    color: red;
	padding: 10px;
}

.name {
	display: inline-block;
	width: 100px;
	border: 1px solid #c4c4c4;
	border-radius: 5px;
	padding: 10px;
	margin-right: 4px;
}

.text {
	display: inline-block;
	width: 200px;
	border: 1px solid #c4c4c4;
	border-radius: 5px;
	padding: 10px;
	margin-right: 4px;
}
.status {
	display: inline-block;
	width: 80px;
	border: 1px solid #c4c4c4;
	border-radius: 5px;
	background: #aaf;
    text-decoration: none;
	padding: 13px;
	margin-right: 1px;
}
.pages {
	display: inline-block;
	width: 20px;
	border: 2px solid #00f;
	border-radius: 3px;
	background: #eee;
    text-decoration: none;
	padding: 5px;
	margin-right: 5px;
}
.pagination {
	text-align: center;
}